{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'addon_cuadrado/estilo.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<form method="post">
  {% csrf_token %}
 
  <label>A:
    <input name="a" type="text" inputmode="decimal" placeholder="Lado">
  </label><br><br>
  
  <button type="submit">Resultado</button><br><br>


  {% if resultado_area %}
  <p>Area: {{ resultado_area }}</p>
  <p>Perimetro: {{ resultado_peri}}</p>
 {% endif %}

 {%if error %}
 <p style="color: red;">{{ error }}</p>
 {% endif %}

    <button type="text"><a href="{% url 'core:core' %}">Ir a Core</a></button>
</form>
  
</body>
</html>
