/* ===== ESTILOS GENERALES ===== */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #14532d, #166534);
    text-align: center;
    margin: 0;
    padding: 30px;
    color: #ecfdf5;
}

h1 {
    color: #fef9c3;
    margin-bottom: 40px;
    font-size: 42px;
}

/* ===== GRID PRINCIPAL ===== */
.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    width: 85%;
    margin: auto;
}

/* ===== TARJETAS ===== */
.card {
    background: linear-gradient(135deg, #dcfce7, #fef9c3);
    color: #14532d;
    padding: 25px;
    border-radius: 22px;
    box-shadow: 0 14px 30px rgba(0,0,0,0.25);
}

.card h3,
.card h4 {
    margin-bottom: 15px;
}

/* TARJETA DESTACADA */
.destacado {
    background: linear-gradient(135deg, #a11414, #0c0b50);
    font-size: 20px;
    font-weight: bold;
}

/* ===== SECCIÓN GRANDE ===== */
.info-grande {
    margin: 60px auto;
}

.info-grande img {
    margin-top: 20px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* ===== VIDEO ===== */
.media {
    margin: 60px auto;
}

.media iframe {
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* ===== FUENTES ===== */
.fuentes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    width: 85%;
    margin: 60px auto;
}

/* ===== FORMULARIO ===== */
.formulario {
    margin-top: 70px;
}

form {
    background: linear-gradient(135deg, #a360c2, #df5210);
    padding: 35px;
    width: 420px;
    margin: auto;
    border-radius: 22px;
    box-shadow: 0 14px 30px rgba(36, 32, 32, 0.25);
    color: #14532d;
}

form h3 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 12px;
    border-radius: 14px;
    border: none;
    margin-bottom: 15px;
    font-size: 18px;
}

button {
    background: #ca8a04;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 14px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #a16207;
}

/* ===== BOTÓN SECUNDARIO ===== */
.btn-secundario {
    display: inline-block;
    margin-top: 15px;
    background: #14532d;
    padding: 10px 20px;
    border-radius: 14px;
    color: white;
}

/* ===== LINKS ===== */
a {
    color: #14532d;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ===== ERRORES ===== */
.error {
    color: #dc2626;
    font-weight: bold;
    margin-top: 10px;
}
