{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Área y Perímetro del Círculo</title>
    <link rel="stylesheet" href="{% static 'circul/estilo.css' %}">
</head>
<body>

<h1>ÁREA Y PERÍMETRO DEL CÍRCULO</h1>

<div class="contenedor">

    <div class="card">
        <h4>¿Qué es un círculo?</h4>
        <p>
            El círculo es una figura geométrica cuyos puntos están a la misma
            distancia del centro.
        </p>
    </div>

    <div class="card">
        <h4>Definición y fundamentos</h4>
        <p>
            Área = π × r² <br>
            Perímetro = 2 × π × r
        </p>
    </div>

    <div class="card">
        <h4>Ejemplo</h4>
        <p>
            Radio = 5 <br>
            Área = 78.54 <br>
            Perímetro = 31.42
        </p>
    </div>

</div>

<div class="media">
    <img src="https://aprendeencasa.sep.gob.mx/multimedia/B64images/202112/B64-IMG-kYyoUVKPni-XgpGv1carz.png" alt="Círculo">

     <iframe width="560" height="315" src="https://www.youtube.com/embed/5Ifbq_EQSxU?si=3-4vtLmqwcVo0KbE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div class="contenedor">

    <div class="card">
        <h4>Libro recomendado</h4>
        <p>
            Kiselev A.P. <br>
            Geometría Elemental
        </p>
    </div>

    <div class="card">
        <h4>Páginas web</h4>
        <p>
            <a href="https://www.neurochispas.com/wiki/perimetro-y-area-de-un-circulo-formulas-y-ejercicios/" target="_blank">neurochispas.com</a><br>
            <a href="https://nuevaescuelamexicana.sep.gob.mx/contenido/coleccion/resolver-problemas-de-calculo-de-perimetro-y-area-del-circulo/" target="_blank">nuevaescuelamexicana.gob.mx</a>
        </p>
    </div>

    <div class="card">
        <h4>Fuentes</h4>
        <p>
            Google <br>
            ChatGPT
        </p>
    </div>

</div>

<div class="formulario">
    <form method="post">
        {% csrf_token %}

        <label>
            Radio:
            <input name="a" type="text" inputmode="decimal" placeholder="Ej. 5">
        </label>

        <button type="submit">Calcular</button>

        {% if resultado_area %}
            <p>Área: {{ resultado_area }}</p>
            <p>Perímetro: {{ resultado_peri }}</p>
        {% endif %}

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        
        <br>
        <a class="btn-secundario" href="{% url 'core:core' %}">
            Ir a Core
        </a>
    
    </form>
</div>

</body>
</html>
