{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'addon_multi/estilo.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<form method="post">
  {% csrf_token %}
 
  <label>A:
    <input name="a" type="text" inputmode="decimal" placeholder="ej. 3.14 o 3,14">
  </label><br><br>
  <label>B:
    <input name="b" type="text" inputmode="decimal" placeholder="ej. 2.5 o 2,50">
  </label><br><br>
  <button type="submit">Multiplicar</button><br><br>


 {% if error %}
  <p style="color: red;">{{ error }}</p>
 {% endif %}

 {% if resultado is not None %}
  <p>Resultado: {{ resultado }}</p>
 {% endif %}
    <button type="text"><a href="{% url 'core:core' %}">Ir a Core</a></button>
</form>
  
</body>
</html>
