body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 50px;
}

/* Contenedor */
form {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 100px 200px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Inputs como cajitas del pizarrón */
input {
    display: inline-block;
    width: 60px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 4px;
    margin: 0 5px;
}


/* Texto normal (x², x, +, = 0) */
form {
    white-space: nowrap;
}

/* Botón Calcular */
button {
    display: block;
    margin: 25px auto 10px auto;
    padding: 8px 25px;
    font-size: 16px;
    background-color: #6fbf73;
    color: black;
    border: 2px solid #2e7d32;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #66bb6a;
}

/* Resultados */
p {
    font-size: 18px;
    margin: 8px 0;
}

/* Error en rojo (sin cambiar HTML) */
p[style*="red"] {
    font-weight: bold;
}

/* Link */
a {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

form  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    flex-wrap: wrap;
}
input {
    width: 80px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}