{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'core/csss/estilo.css' %}">
</head>

<body>

<h1>Bienvenido a la Calculadora</h1>

<div class="contenedor">

    <div class="card">
        <h4>Operaciones básicas</h4>
        <p>
            <a href="{% url 'addon_suma:sumar' %}">Suma</a><br>
            <a href="{% url 'addon_resta:restar' %}">Resta</a><br>
            <a href="{% url 'addon_multi:multiplicacion' %}">Multiplicación</a><br>
            <a href="{% url 'addon_div:divicion' %}">División</a>
        </p>
    </div>

    <div class="card">
        <h4>Figuras geométricas</h4>
        <p>
            <a href="{% url 'addon_circulo:circulo' %}">Círculo</a><br>
            <a href="{% url 'addon_cuadrado:cuadrado' %}">Cuadrado</a><br>
            <a href="{% url 'addon_rectangulo:rectangulo' %}">Rectángulo</a>
        </p>
    </div>

    <div class="card">
        <h4>Álgebra y otros temas</h4>
        <p>
            <a href="{% url 'addon_ecuacion:ecuacion' %}">
                Ecuación cuadrática
            </a><br>
            <a href="{% url 'addon_recta:recta' %}">
                Recta numérica
            </a>
        </p>
    </div>

</div>

</body>
</html>
