/* Estilos generales */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;

    background: linear-gradient(135deg, 
    #3498db, #27ae60);
}

/* Título principal */
h1 {
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 5px;

    background: linear-gradient(135deg, #f75353, #ffd904);

    box-shadow: 0 13px 2px rgba(0,0,0,0.4);
}

/* Párrafos */
p {
    background: rgba(225, 225, 225, 0.85);
    padding: 15px 25px;
    border-radius: 12px;
    max-width: 400px;
    margin: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-size: 18px;
}

.barra {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

p.lin {
    width: 1000px;
    height: 300px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 22px;
    line-height: 1.4;
    padding: 15px;
}

/* Imagen */
img {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Video */
iframe {
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Formulario */
form {
    background: white;
    margin: 30px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);

    width: 500px;
    height: 300px;
    font-size: 20px;
}

/* Inputs */
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Botones */
button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 25px;
    margin: 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

/* Resultado */
h2 {
    color: #00b3ff;
    margin-top: 10px;
}